
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    align-items: center;
    background-color: rgba(23, 36, 156, 1);
}

.img-header {
    display: flex;
    align-items: center;
}

.teks-header {
    color:rgba(255, 229, 0, 1);
}

.teks-header h2 {
    font-size: 16px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 500px);
    margin-left: 240px;
    gap: 20px;
    
}

.navbar a {
    color: white;
    text-decoration: none;
}

.katalog-search {
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    background-color:  rgba(23, 36, 156, 1); */
}

.katalog-search-button {
    display: flex;
    padding :20px;
    /* gap: 20px; */
    justify-content: space-between;
    align-items: center;
    background-color:  rgba(23, 36, 156, 1);
}

.katalog-search-button input {
    padding: 10px;
    width: 200px;
}    

.katalog-search-button .button-search {
    padding: 10px 20px;
    background-color: rgba(0, 55, 252, 1);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color:white;
    width: 150px;
}

.katalog-content {
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 30px;
}

.katalog-content1 {
    display: flex;
    justify-content: center;
    gap: 139px;
    margin-bottom: 70px;
}

.katalog-box1 {
    background-color: rgba(217, 217, 217, 1);
    width: 553px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}

.katalog-content1-line {
    background-color:rgba(120, 120, 120, 1);
    width: auto;
    height: 2px;
    margin-bottom: 20px;
}

.button-chat1 {
    background-color: rgba(0, 55, 252, 1);
    color: white;
    width: 165px;
    height: 49px;
    border: none;
    border-radius: 5px;
    margin-left: 60%;
}

.katalog-box2 {
    background-color: rgba(217, 217, 217, 1);
    width: 553px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}

.button-chat2 {
    background-color: rgba(0, 55, 252, 1);
    color: white;
    width: 165px;
    height: 49px;
    border: none;
    border-radius: 5px;
    margin-left: 60%;
}

.katalog-content2 {
    display: flex;
    justify-content: center;
    gap: 139px;
    margin-bottom: 70px;
}

.katalog-box3 {
    background-color: rgba(217, 217, 217, 1);
    width: 553px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}

.katalog-content2-line {
    background-color:rgba(120, 120, 120, 1);
    width: auto;
    height: 2px;
    margin-bottom: 20px;
}

.button-chat3 {
    background-color: rgba(0, 55, 252, 1);
    color: white;
    width: 165px;
    height: 49px;
    border: none;
    border-radius: 5px;
    margin-left: 60%;
}

.katalog-box4 {
    background-color: rgba(217, 217, 217, 1);
    width: 553px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}

.button-chat4 {
    background-color: rgba(0, 55, 252, 1);
    color: white;
    width: 165px;
    height: 49px;
    border: none;
    border-radius: 5px;
    margin-left: 60%;
}

.katalog-content3 {
    display: flex;
    justify-content: center;
    gap: 139px;
    margin-bottom: 70px;
}

.katalog-box5 {
    background-color: rgba(217, 217, 217, 1);
    width: 553px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}

.katalog-content3-line {
    background-color:rgba(120, 120, 120, 1);
    width: auto;
    height: 2px;
    margin-bottom: 20px;
}

.button-chat5 {
    background-color: rgba(0, 55, 252, 1);
    color: white;
    width: 165px;
    height: 49px;
    border: none;
    border-radius: 5px;
    margin-left: 60%;
}

.katalog-box6 {
    background-color: rgba(217, 217, 217, 1);
    width: 553px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
}

.button-chat6 {
    background-color: rgba(0, 55, 252, 1);
    color: white;
    width: 165px;
    height: 49px;
    border: none;
    border-radius: 5px;
    margin-left: 60%;
}

