* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color:  rgba(23, 36, 156, 1);
}

.header {
    display: flex;
    align-items: center;
    background-color: rgba(23, 36, 156, 1);
}

.img-header {
    display: flex;
    align-items: center;
}

.teks-header {
    color:rgba(255, 229, 0, 1);
    h2 {
        font-size: 16px;
    }
}


.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 500px);
    gap: 20px;
    
}

.navbar a {
    color: white;
    text-decoration: none;
}

.content {
    background-color: rgba(217, 217, 217, 1);
    width: auto;
    height: 497px;
    margin: 30px;
}