* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:white;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .hero {
    background-image: url('./Gambar/nyc.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20px; /* Adjust as needed */
  }
  
  .text {
    color: #fff;
  }
  
  .text h1 {
    font-size: 40px;
    margin: 0;
  }
  
  .text p {
    font-size: 20px;
    margin: 10px 0 0 0;
  }
  
.header {
    display: flex;
    align-items: center;
    background-color: rgba(23, 36, 156, 1);
    justify-content: space-between;
    padding-right: 30px;
}

.img-header {
    display: flex;
    align-items: center;
}

.teks-header {
    color: white;
    h2 {
        font-size: 20px;
    }
}


.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: calc(100% - 500px);
    gap: 20px; 
}

.navbar a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 10px;
}

.content {
    background-color: white;
    width: auto;
    height: auto;
    margin: 30px;
    margin: 30px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;    
    justify-content: space-between;
    .teks-content {
        font-size: 50px;
        padding-top: 55px;
        padding-left: 40px;
        margin: 20px;
        text-align: center;
        img {
            margin: 5px;
            margin-top: 30px;
        }
    }
    .img-content {
        padding-right: 100px;
        margin: 20px;
    }
    .teks-content2 {
        justify-content: center;
        margin: auto;
        text-align: center;
        h1 {
            font-size: 50px ;
            text-align: center;
        }
    }
}
  
.section__container {
    min-height: 70vh;
    max-width: var(--max-width);
    margin: auto;
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
}
  
.section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.title-section-content {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
}
  
.title-section-content span {
    font-weight: 600;
}
  
.description-section-content {
    line-height: 1.5rem;
    color: var(--text-light);
    font-size: 20px;
    padding-left: 20px;
}
  
  
.image-section-content {
    display: grid;
    place-items: center;
}
  
.image-section-content img {
    width: min(50rem, 90%);
    border-radius: 100%;
}

.content-our-team {
    background-color: white;
    background-position-x: center;
    background-position-y: center;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}

  
.content1 {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin: 20px;
    gap: 110px;
}

.content2 {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 20px;
  justify-content: space-between;
  margin: 50px;
}

.content3 {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 20px;
  justify-content: space-between;
  margin: 50px;
}

.content4 {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin: 20px;
  justify-content: space-between;
  margin: 50px;
}

.card {
  max-width: 350px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 20px 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-right: 25px;
  padding-bottom: 30px;
  padding-left: 25px;
}

.img-member {
  clip-path: circle(50% at 50% 50%);
  width: 130px;
  height: 130px;
}

.img-member-team {
  width: 100%;

}

.name {
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 5px;
  margin-left: 0px;
  font-size: 18px;
  font-weight: 800;
}

.position {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 10px;
  margin-left: 0px;
}

.text-tambahan{
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 20px;
  margin-left: 0px;
  color: rgb(122, 122, 122);
  line-height: 30px;
}

.social-icons {
  margin-top: 20px;
  width: 70px;
  gap: 15px;
  display: flex;
  justify-content: space-between;
  
} 

.content-contact-us {
    margin: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 20px;
    .img-contact {
        padding-right: 100px;
    }
}

.contact-form {
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    width: 100%;
    max-width: 600px;
    .error {
        color: red;
        font-size: 0.9em;
    }
}
.contact-form h2 {
    margin-bottom: 20px;
    text-align: center;
}
.contact-form label {
    display: block;
    margin-bottom: 5px;
}
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.contact-form button {
    display: flex;
    margin: auto;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #575757;
}
.footer {
    background-color:  rgba(23, 36, 156, 1);
    color: white;
    text-align: center;
    padding: 20px;
}
.footer .footer-social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
}
.footer .footer-social-icons img {
    width: 30px;
    height: 30px;
}

/* Untuk lebar layar < 768px (perangkat mobile) */
@media (max-width: 767px) {
    .header {
        flex-direction: column;
        align-items: center;
        padding-right: 0;
        width: 100%;
    }

    .img-header {
        margin-bottom: 20px;
    }

    .navbar {
        justify-content: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .content {
        margin: 10px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }

    .teks-content {
        h2, h3, h4 {
            font-size: 50%;
        }
        a img{
            width: 25px;
            height: auto;
        }
    }

    .img-content img {
        width: 170px;
        height: auto;
    }

    .teks-content2 h1 {
        font-size: 20px;
    }    

    .teks-content2 h2 {
        font-size: 50%;
    }
    .card {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .content-our-team {
        width: auto;
        .content1 {
            .card {
                width: 50%;
                height: auto;
            }
            .img-member .img-member-team {
                width: 50%;
            }
        }
    }
}

/* Untuk lebar layar 768px - 1023px (perangkat tablet) */
@media (min-width: 768px) and (max-width: 1023px) {
    .header {
        padding-right: 10px;
    }

    .navbar {
        width: auto;
        margin-right: 10px;
    }

    .content {
        margin: 20px;
    }

    .card {
        max-width: 45%;
        margin-right: 20px;
    }

    .content1, .content2, .content3, .content4 {
        flex-direction: column;
        align-items: center;
    }
}

/* Untuk lebar layar >= 1024px (perangkat desktop) */
@media (min-width: 1024px) {
    .header {
        padding-right: 30px;
    }

    .navbar {
        width: calc(100% - 500px);
    }

    .content {
        margin: 30px;
    }

    .card {
        max-width: 30%;
        margin-right: 20px;
    }
}